body {
  background-color: rgb(220, 157, 47);
  color: white;
  margin: 20px;
  font-size: 2em;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 2em;
}
.board-row {
  display: flex;
  flex-flow: row nowrap;
}
.square {
  background-color: rgb(86, 137, 192);
  color: white;
  border: 1px solid black;
  padding: 0;
  font-size: 3em;
  text-align: center;
  width: 100px;
  height: 100px;
}
.square:focus {
  outline: none;
  background-color: rgb(127, 202, 219);
}
.status {
  margin: 20px;
  font-size: 24px;
}
